.Anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    width: 100%;
    max-width: 150px;
    height: 50px;
    font-size: 1.6rem;
    background-color: var(--primary-color-dark);
    border: none;
    border-radius: 8px;
    box-shadow: var(--shadow1);
    outline: none;
    cursor: pointer;
    @media (min-width:767px) {
        font-size: 1.8rem;    
    }

    &:hover {
        transform: scale(1.1);
    }
}

.Anchor--Dark {
    background-color: var(--secundary-color-base);
}

.Anchor--complementary {
    background-color: var(--complementary-color);
    color: var(--background-color);
}