.CardSoftwares {
    width: 90%;
    max-width: 355px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-radius: 12px;
    box-shadow: var(--shadow1);

    &_wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    @media(min-width: 1023px){
        max-width: 450px;
    }
}

.CardSoftwares--dark {
    background-color: var(--background-color-dark-opacity);
}