.CardLanguages {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 12px;
    width: 90%;
    max-width: 355px;
    // background-color: var(--primary-color-base);
    border-radius: 12px;
    box-shadow: var(--shadow1);

    @media(min-width: 1023px){
        max-width: 450px;
    }
}

.CardLanguages--dark {
    background-color: var(--background-color-dark-opacity);
    box-shadow: none;
}