.Header {
    display: grid;
    grid-template: 80px 40px / minmax(320px, auto);
    grid-template-areas: "Icon"
                         "Nav";
    background-color: var(--primary-color-base);

    @media (min-width:767px) {
        grid-template: auto / 180px minmax(320px, auto);
        grid-template-areas: "Icon Nav";
    }
    @media (min-width:1023px) {
        grid-template: auto / 180px 1fr minmax(520px, auto);
        grid-template-areas: "Icon Null Nav";
    }
}


.Header_icon  {
    grid-area: Icon;
    justify-self: center;
    display: flex;
    align-items: center;
}

.Nav {
    grid-area: Nav;
    display: flex;
    align-items: center;

    &_wrapper {
        grid-area: Nav;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    
        & li a {
            font-size: 1.6rem;
            @media (min-width:767px) {
                font-size: 1.8rem;   
            }
        }
    }
}


//DARKMODE
.Header--dark {
    background-color: var(--primary-color-dark);
}


