// @import "/src/styles/_globales";
.Main {
    display: grid;
    justify-content: center;
    grid-template: 120px minmax(60px, auto) /1fr;
    grid-template-areas:
        "Header"
        "Main";
    min-height: 100vh;
                                              
    row-gap: 20px;
    transition: all .3s ease-in-out;
}

.Main--Light {
    background-color: #fafafa;
    
    & h1,h2,h3,h4,h5,p,a {
        color: var(--black-color);
    }
}


.Main--Dark {
    background-color: var(--black-color);
    
    & h1,h2,h3,h4,h5,p,a,label {
        color: var(--background-color);
    }
    
}

.Header {
    grid-area: Header;
}


.Home {
    grid-area: Main;
}

Footer {
    grid-area: Footer;
}