// @import "/src/styles/_globales";


.Main {
    display: grid;
    justify-content: center;
    grid-template: 120px 430px minmax(60px, auto) minmax(120px,auto) / minmax(320px, 1000px);
    grid-template-areas: "Header"
                         "Hero"
                         "Projects"
                         "Footer";
    row-gap: 12px;
}

.Header {
    grid-area: Header;
}

.Hero-wrapper {
    grid-area: Hero;
}

.ListProyects {
    grid-area: Projects;
}

Footer {
    grid-area: Footer;
}