* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --font-family: "Arial";
    
    --primary-color-base: #496E96;
    --primary-color-dark: #2E4D6E;
    --primary-color-light: #9FC4DF;

    --secundary-color-base: #64C4D7;
    --secundary-color-dark: #53A4B4;
    --secundary-color-light: #7FD5E5;

    --black-color: #080D1B;
    --complementary-color: #BA5319;

    --shadow1: 5px 8px 12px black;
    
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--primary-color-dark);
}

a {
    text-decoration: none ;
}

li {
    list-style: none;
}

h1,h2,h3,h4,h5,p,a {
    color: var(--black-color);
}

h1 {
    font-size: 2.4rem;
}
h2 {
    font-size: 1.8rem;
}

h3, p {
    font-size: 1.6rem;
}
