@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --font-family: 'Roboto', sans-serif;;
    
    // --primary-color-base: #496E96;
    --primary-color-base: #467dba;
    --primary-color-dark: #2E4D6E;
    --primary-color-light: #9FC4DF;

    --secundary-color-base: #64C4D7;
    --secundary-color-dark: #53A4B4;
    --secundary-color-light: #d1e5f4;

    --black-color: #080D1B;
    --background-color: #d3dae0;
    --background-color-opacity: #f5fafed6;
    --background-color-dark: #2e4d6e1c;
    --background-color-dark-opacity: #2e4d6e75;
    // --complementary-color: #BA5319;
    --complementary-color: #d03f2f;

    --shadow1: 5px 8px 12px rgba(0, 0, 0, 0.3);
    --shadow2: 5px 8px 12px rgba(20, 20, 21, 0.487);
    
}


html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: var(--font-family);
}


a {
    text-decoration: none ;
}

li {
    list-style: none;
}


h1 {
    font-size: 2.4rem;
    @media (min-width:767px) {
        font-size: 3.6rem;           
    }
}
h2 {
    font-size: 1.8rem;
    @media (min-width:767px) {
        font-size: 2.4rem;           
    }
}

h3, p {
    font-size: 1.6rem;
    @media (min-width:767px) {
        font-size: 1.8rem;           
    }
}
